@import 'tailwindcss';

@theme {
  --font-manrope: 'Manrope', sans-serif;

  --color-dark: #0F0F0F;
  --color-light: #FFFFFF;

  --color-primary-50: #f7f7f8;
  --color-primary-100: #efeef0;
  --color-primary-200: #dad8df;
  --color-primary-300: #b8b7c2;
  --color-primary-400: #928fa1;
  --color-primary-500: #757186;
  --color-primary-600: #5f5b6e;
  --color-primary-700: #4e4b59;
  --color-primary-800: #42404c;
  --color-primary-900: #3b3842;
  --color-primary-950: #1a191d;

  --color-secondary-50: #edfcf3;
  --color-secondary-100: #d4f7e0;
  --color-secondary-200: #aceec6;
  --color-secondary-300: #76dfa5;
  --color-secondary-400: #3ec981;
  --color-secondary-500: #189b5c;
  --color-secondary-600: #0e8d52;
  --color-secondary-700: #0c7045;
  --color-secondary-800: #0c5937;
  --color-secondary-900: #0b4930;
  --color-secondary-950: #05291c;

  --color-olive-50: #f7f8f4;
  --color-olive-100: #ecefe5;
  --color-olive-200: #d8ddcb;
  --color-olive-300: #c1c8a9;
  --color-olive-400: #abb186;
  --color-olive-500: #9ca16e;
  --color-olive-600: #929462;
  --color-olive-700: #7b7b53;
  --color-olive-800: #656347;
  --color-olive-900: #53523b;
  --color-olive-950: #2c2b1e;
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: local('Manrope Regular'), local('Manrope-Regular'),
    url(../src/assets/fonts/Manrope/Manrope-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: local('Manrope Medium'), local('Manrope-Medium'),
    url(../src/assets/fonts/Manrope/Manrope-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: local('Manrope SemiBold'), local('Manrope-Semibold'),
    url(../src/assets/fonts/Manrope/Manrope-Semibold.ttf) format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: local('Manrope Bold'), local('Manrope-Bold'),
    url(../src/assets/fonts/Manrope/Manrope-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: local('Manrope Extrabold'), local('Manrope-Extrabold'),
    url(../src/assets/fonts/Manrope/Manrope-Extrabold.ttf) format('opentype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: local('Manrope Light'), local('Manrope-Light'),
    url(../src/assets/fonts/Manrope/Manrope-Light.ttf) format('opentype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  src: local('Manrope ExtraLight'), local('Manrope-ExtraLight'),
    url(../src/assets/fonts/Manrope/Manrope-ExtraLight.ttf) format('opentype');
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-manrope);
  height: 100%;
  color: var(--color-dark);
  background-color: var(--color-light);
}

body header footer {
  position: sticky;
  top: 100vh;
}

html {
  scroll-behavior: smooth;
}

.body-overflow-hidden {
  overflow: hidden;
}